doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  title Order Report
table.table
  thead
    tr
      th(scope='col') Order No.
      th(scope='col') Food
      th(scope='col') Sauce
      th(scope='col') Drink
  tbody
    tr
      th(scope='row') 1
      td Rice
      td Beef
      td Coke
    tr
      th(scope='row') 2
      td Chips
      td Fillet
      td Soda
    tr
      th(scope='row') 3
      td Food
      td G-nuts
      td Juice
