<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Order Report</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Order No.</th>
            <th scope="col">Food</th>
            <th scope="col">Sauce</th>
            <th scope="col">Drink</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Rice</td>
            <td>Beef</td>
            <td>Coke</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Chips</td>
            <td>Fillet</td>
            <td>Soda</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Food</td>
            <td>G-nuts</td>
            <td>Juice</td>
          </tr>
        </tbody>
      </table>
</body>
</html>